.button {
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    background-color: var(--secondary, #ff08f7);
    outline: solid #00000076 0.1vw;
    border-radius: 0.1vw;
    border-style: none;
    text-align: center;
    font-size: 0.8vw;
    text-decoration: none;
    color: #0000007c
    
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    /* border: solid red 2px; */
}

.button:hover {
    background-color: #0000003b;
}

.button:active {
    background-color: #00000072;
}

#tempButton {
    margin-left: 3vw;
}

#tempButtonText {
    margin: 0;
}

#lightButton {
    margin-left: 8.5vw;
}

#lightButtonText {
    margin: 0;
}

#distButton {
    margin-left: 40vw;
}

#distButtonText {
    margin: 0;
}

/* General dropdown css*/
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 6vw;
    margin-left: 1.75vw;
    margin-top: 0.2vw;
    
    z-index: 1;
}
.dropdown-content a {
    color: rgba(0, 0, 0, 0.628);
    background-color: var(--secondary, #ff08f7);
    outline: solid #00000070 0.1vw;
    padding: 0.5;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 0.2vw;
    margin-top: 0.2vw;
    cursor: pointer;
}
.dropdown-content a:hover {background-color: #00000054;}
.show {display:block;}

/* Temp light and dist drop downs */
#tempDrop {
    width: 5vw;
    margin-left: 2vw;
}

#lightDrop {
    width: 5vw;
    margin-left: 2vw;
}

#distDrop {
    width: 5vw;
    
    margin-left: 2vw;
}
