:root {
    --bgcol: #1d1b26;
    --secondary: #b5b4c6;
    --textcol: #0c0936;
}

body {
    background-color: var(--bgcol, #ff7dda);
    margin: -40px;
    top: 0px;
}

h1 {
    color: var(--bgcol, #ff08f7);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: top;
    font-size: 400%;
}


.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "header header"
        "space space"
        "graph data"
        "space2 space2";
    background-color: var(--secondary, #ff08f7);
    /* outline: solid green 2px; */
    margin: 60px;
}

.main > div {
    /* outline: solid red 2px; */
    background-color: var(--secondary, #ff08f7);
}

.main > div.header {
    text-align: center;
    grid-area: header;
}

.main > div.space {
    /* background-color: rgb(201, 146, 146); */
    padding-bottom: 50px;
    grid-area: space;
}

.main > div.space2 {
    padding-bottom: 50px;
    grid-area: space2;
}

.main > div.graph {
    /* background-color: rgb(153, 201, 153); */
    grid-area: graph;
    margin: 0 50px;
    align-items: center;
}

.main > div.data {
    /* background-color: rgb(219, 219, 165); */
    text-align: center;
    grid-area: data;
    margin: auto auto;
}

.text {
    color: var(--bgcol, #ff08f7);
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    
}


