:root {
    --bgcol: #1d1b26;
    --secondary: #b5b4c6;
    --textcol: #0c0936;
}

body {
    background-color: var(--bgcol, #ff7dda);
    margin: 0;
    top: 0;
}

h1 {
    color: var(--bgcol, #ff08f7);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: top;
    font-size: 3vw;
}


.main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
        "header header"
        "space space"
        "tempGraph data"
        "space2 space2"
        "lightAndDist lightAndDist"
        "space3 space3";
    background-color: var(--secondary, #ff08f7);
    /* outline: solid green 2px; */
    margin: 1vw;
    filter: blur(1.5rem);
}

.main > div {
    /* outline: solid red 2px; */
    background-color: var(--secondary, #ff08f7);
}

.main > div.header {
    text-align: center;
    grid-area: header;
}

.main > div.space {
    /* background-color: rgb(201, 146, 146); */
    padding-bottom: 5vh;
    grid-area: space;
}

.main > div.space2 {
    padding-bottom: 10vh;
    grid-area: space2;
}

.main > div.space3 {
    padding-bottom: 10vh;
    grid-area: space3;
}

.main > div.tempGraph {
    /* background-color: rgb(153, 201, 153); */
    grid-area: tempGraph;
    margin: 0 auto;
    padding: 0 2vw;
}

.main > div.data {
    /* background-color: rgb(219, 219, 165); */
    text-align: center;
    grid-area: data;
    margin: auto auto;
}

.main > div.lightAndDist {
    /* background-color: rgb(153, 201, 153); */
    grid-area: lightAndDist;
    margin: 0 0;
    flex-direction: row;
    display: flex;
    gap: 10vw;
    align-items: center;
    justify-content: center;
}


.text {
    color: var(--bgcol, #ff08f7);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    
}

#alert {
    background-color: rgba(127, 0, 0, 0.528);
        
    position: fixed;
    min-width: 50vw;
    text-align: center;
    top: 50%;
    left: 50%;
    min-height: 60vh;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    box-shadow: 1vw 1vw 1vw #00000078;
    visibility: hidden;
}

