.button {
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    background-color: var(--secondary, #ff08f7);
    outline: solid #00000076 0.1vw;
    border-radius: 0.1vw;
    border-style: none;
    text-align: center;
    font-size: 0.8vw;
    text-decoration: none;
    color: #0000007c
    
}

.button:disabled {
    cursor: not-allowed;
    background-color: #00000078;
}

.button:hover:enabled {
    background-color: #0000003b;
}

.button:active:enabled {
    background-color: #00000072;
}


.buttonDiv {
    display: flex;
    flex-direction: row;
    /* border: solid red 2px; */
}



#tempButton {
    margin-left: 3vw;
}

#tempButtonText {
    margin: 0;
}

#lightButton {
    margin-left: 8.5vw;
}

#lightButtonText {
    margin: 0;
}

#distButton {
    margin-left: 34.5vw;
}

#distButtonText {
    margin: 0;
}

/* General dropdown css*/
.dropdown {
    display: inline-block;
    position: relative;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 5vw;
    /* margin-left: 1.75vw;
    margin-top: 0.2vw; */
    top: 100%;
    transform: translateX(40%);
    
    z-index: 1;
}
.dropdown-content a {
    color: rgba(0, 0, 0, 0.558);
    background-color: var(--secondary, #ff08f7);
    outline: solid #00000070 0.1vw;
    padding: 0.5;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 0.1vw;
    margin-top: 0.2vw;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #00000054;}
.show {display:block;}

/* Temp light and dist drop downs */
#tempDrop {
    width: 5vw;
    margin-left: 2vw;
}

#lightDrop {
    width: 5vw;
    margin-left: 2vw;
}

#distDrop {
    width: 5vw;

    margin-left: 2vw;
}

#tempTimeLeft {
    margin-left: 2vw;
}
#tempTimeRight {
    margin-left: 0.5vw;
}

#lightTimeLeft {
    margin-left: 2vw;
}
#lightTimeRight {
    margin-left: 0.5vw;
}

#distTimeLeft {
    margin-left: 2vw;
}
#distTimeRight {
    margin-left: 0.5vw;
}

.hide {
    visibility: hidden;
}
